body {
    background-color: rgb(68, 208, 250);
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}

.container {
    margin: 20px 50px;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    padding: 0;
}

.degree {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.input-container input {
    background-color: rgb(52, 201, 247);
    border: 1px solid white;
    height: 40px;
    padding-left: 10px;
    width: auto;
    color: rgb(0, 0, 0);
}

.icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.table {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    border-spacing: 0;
    min-height: 40px;
    overflow-x: auto;
}

th,
td {
    text-align: center;
    color:#030303;
}

th {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 10px;
    background-color: rgb(34, 134, 179);
    font-weight: bold;
}

td {
    padding: 10px;
    border-right: 1px solid rgb(0, 0, 0);
}

tbody {
    height: auto;
}

.search {
    width: 100%;
    background-color: rgb(52, 201, 247);
    border: 1px solid white;
    height: 40px;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-left: 15px;
    color: white;
}

.button {
    height: 40px;
    width: 100px;
    background-color: rgb(52, 201, 247);
    margin: 20px;
    margin-left: 0;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(40, 160, 200); 
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #030303;
}

#logoutButton {
    position: absolute;
    top: 20px;
    left: 90%;
    background-color: rgb(104, 209, 241);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#logoutButton:hover {
    background-color: rgb(30, 170, 210);
}


#logoutButton:hover {
    background-color: rgb(40, 160, 200);
}

#loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#loginContainer input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

#loginContainer button {
    width: 100%;
    padding: 10px;
    background-color: rgb(52, 201, 247);
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginContainer button:hover {
    background-color: rgb(40, 160, 200); 
}

#loginError {
    color: red;
    display: none;
}

tbody tr:hover {
    background-color: rgb(70, 170, 212); 
}

@media screen and (max-width: 768px) {
    .input-container {
        grid-template-columns: 1fr;
    }

    #loginContainer {
        width: 80%;
    }
}

